{% extends 'master_template.html' %}

{% block title %}
<title>Leaguify | Change Password</title>
{% endblock %}

{% block header %}
<h1>Change Password</h1>
{% endblock %}

{% block body %}

{% if message %}
<p class="error">{{ message }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label for="pass1">New Password:</label>
    <input type="text" name="pass1" placeholder="New Password" required> <br>
    <label for="pass2">New Password (again):</label>
    <input type="text" name="pass2" placeholder="New Password (again)" required> <br>
    <input type="submit" value="Update Password">
</form>
{% endblock %}