{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaguify | Create League</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<header>
    <h1>Create League</h1>
</header>
<body class="text_center">
    <form>
        <input type="text" name="leagueName" placeholder="League Name">
        <input type="submit" value="Create">
    </form>
</body>
</html>