{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<nav>
    <small><i><b><a href="{% url 'home' %}">Leaguify</a></b></i></small>
    {% if user.is_authenticated %}
    <small><a href="{% url 'create_league' %}">Create League</a></small>
    <small><a href="{% url 'create_sport' %}">Create Sport</a></small>
    <small><a href="{% url 'create_game' %}">Log A Game</a></small>
    <small><a href="{% url 'display_stats' %}">Display Stats</a></small>
    <!-- <small><a href="{% url 'create_team' %}">Create Team</a></small> -->
    <hr>
    <small><a href="{% url 'user_home' %}">{{ user }}</a></small>
    <small><a href="{% url 'log_out' %}">Log Out</a></small>
    {% else %}
    <hr>
    <small><a href="{% url 'register' %}">Register</a></small>
    <small><a href="{% url 'login' %}">Log In</a></small>
    {% endif %}
</nav>
<header>
    {% block header %}
    {% endblock %}
</header>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>