{% extends 'master_template.html' %}

{% block title %}
<title>Leaguify | Leagues</title>
{% endblock %}

{% block header %}
<h1>All Leagues</h1>
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>League Name</th>
        <th>Teams</th>
    </tr>
{% for league in leagues %}
<tr>
    <td><a href="league/{{ league.league.id }}">{{ league.league.leagueName }}</a><p> </p><a href="{% url 'delete_league' league.league.id %}">Delete </a></td>
    <td>{{ league.team_count }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}