{% extends 'master_template.html' %}

{% block title %}
<title>Leaguify | User Home</title>
{% endblock %}

{% block header %}
<h1>User Home</h1>
{% endblock %}


{% block body %}
{% if teams %}
    <h3>Teams</h3>
    <table>
        <tr>
            <th>Team</th>
            <th>League</th>
            <th>Sport</th>
        </tr>
        {% for t in teams %}
        <tr>
            <td><a href="team/{{ t.team.id }}">{{ t.team.teamName }}</a></td>
            <td><a href="league/{{ t.league.id }}">{{ t.league.leagueName }}</a></td>
            <td>{{ t.league.sportID.sportName }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p class="text_center">Your leagues will appear here. Join or create one to get started!</p>
{% endif %}
{% endblock %}


