{% extends 'master_template.html' %}

{% block title %}
<title>Leaguify | User Home</title>
{% endblock %}

{% block header %}
<h1>User Home</h1>
{% endblock %}


{% block body %}
{% if teams %}
    <h3>Teams</h3>
    <table>
        <tr>
            <th>Team</th>
            <th>League</th>
            <th>Sport</th>
        </tr>
        {% for t in teams %}
        <tr>
            <td><a href="team/{{ t.team.id }}">{{ t.team.teamName }}</a></td>
            <td><a href="league/{{ t.league.id }}">{{ t.league.leagueName }}</a></td>
            <td>{{ t.league.sportID.sportName }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="text_center">Your teams will appear here. Join a team, create one in an active league, or create a league to get started!</p>
{% endif %}

<h3>Social Media</h3>
{% if social_media %}
<table>
    <tr>
        <th>Platform</th>
        <th>Username</th>
    </tr>
    {% for sm in social_media %} 
    <tr>
        <td>{{ sm.type }}</td>
        <td>{{ sm.userName }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<a href="{% url 'add_player_social_media' %}"><button>Add Social Media</button></a>

{% endblock %}


