{% extends 'master_template.html' %}

{% block title %}
    <title>Leaguify | League Detail View</title>
{% endblock %}

{% block header %}
    <h1>{{ object.leagueName }}</h1>
{% endblock %}

{% block body %}
    <h3>Games</h3>
    <div class="games">
        {% for game in games %}
            <table>
                <tr>
                    <th style="font-size: x-small;">{{ game.Description }}</th>
                </tr>
                {% for team in game.teams %}
                <tr>
                <td {% if team.id == game.winnerID_id %}style="font-weight: bold;"{% endif %}>{{ team.teamName }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    {% if not team_creatable %}
    <a href="create_game"><button>Log Game</button></a>
    {% endif %}

    <h3>Teams</h3>
    <table>
        <tr>
            <th>Team Name</th>
            <th>W</th>
            <th>L</th>
            {% if team.stats.draws %}
            <th>D</th>
            {% endif %}
        </tr>
    {{ stats }}
    {% for team in teams %}
        <tr>
            <td><a href="../../team/{{ team.team.id }}">{{ team.team.teamName }}</a></td> 
            <td>{{ team.stats.wins }}</td>
            <td>{{ team.stats.losses }}</td>
            {% if team.stats.draws %}
            <td>{{ team.stats.draws }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% if team_creatable %}
    <a href="create_team">
        <button>Create Team</button>
    </a>
    {% endif %}
{% endblock %}
