{% extends 'master_template.html' %}

{% block title %}
    <title>Leaguify | Player Detail View</title>
{% endblock %}

{% block header %}
    <h1>{{ object.userID.firstName }} {{ object.userID.lastName }}</h1> 
{% endblock %}

{% block body %}
    {% if stats %}
    <h3>Statistics</h3>
    <table>
        <tr>
            <th>Header</th>
            {% for key in additional_stats.keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Not Header</td>
            {% for value in additional_stats.values %}
                <td>{{ value }}</td>
            {% endfor %}
            <td>{{ stats.wins }}</td>
            <td>{{ stats.losses }}</td>
        </tr>
    </table>
    {% else %}
    <h3>No stats</h3>
    {% endif %}

    <h3>Social Media</h3>
    {% if social_media %}
    <table>
        <tr>
            <th>Platform</th>
            <th>Username</th>
        </tr>
        {% for sm in social_media %} 
        <tr>
            <td>{{ sm.type }}</td>
            <td>{{ sm.userName }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Social Media for this Player.</p>
    {% endif %}
{% endblock %}
